.botoes{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.hand{
    background-image: url(image/hand.png) no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
}

.posicaoMao{
    width: 370px;
    margin-right: 150px;
    
} 

article{
    background-color: blue;
}

footer{
    grid-area: footer;
    background-color:red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}
nav{
    background-color: blueviolet;

}




body{
    display: grid;
    grid-template-areas: 'header''section''navbar''article''footer';
    grid-template-rows: 38vw 20vw 15vw 15vw 15vw;
    grid-template-columns: 100vw;
    justify-content: center;
}

header{
    border-top: green;
    background-image: url(image/banner.png);
    background-size: cover;
}

/* AQUI COMEÇA A SECTION */

section{
    font-family: 'Roboto Slab', serif;
    font-family: 'Hind Madurai', sans-serif; 
    grid-area: section;
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    flex-direction: row ;   
}

.engrenagem {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color:rgb(130, 233, 130); 
    text-align: center;
    vertical-align: middle;
    line-height: 135px;
    justify-content: space-between;   
}

p {
    display: flow-root;
    margin-block-end: 1em;
    line-height: 15px;
    text-align: unset;
}

.estrela{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color:rgb(130, 233, 130); 
    text-align: center;
    vertical-align: middle;
    line-height: 135px;
    justify-content: space-between;    
}

.globo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color:rgb(130, 233, 130); 
    text-align: center;
    vertical-align: middle;
    line-height: 135px;
    justify-content: space-between;  
}








